---
import Base from '../layouts/Base.astro';
import News from '../components/News.tsx';
---

<Base title="News · World Cup 2026" active="news">
  <div class="container">
    <News client:load />
  </div>
</Base>
